---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';
import { getCategories, getArtWorksByCategory } from '../api';

const categories = await getCategories();
const artWorks = await getArtWorksByCategory(categories[0].sys.id);
---

<html lang="en">

<head>
	<MainHead title="Gallery | Max Rojas" description="Learn about Max Rojas's works of art" />
	<style lang="scss">
		.grid {
			display: grid;
			grid-gap: 3rem;
		}
	</style>
</head>

<body>
	<Nav />
	<div class="wrapper">
		<h1 class="title mt4 mb4">Gallery</h1>
		<div class="grid">
			{artWorks.map((artWork) =>
			<PortfolioPreview artWork={artWork} />)}
		</div>
	</div>
	<Footer />
</body>

</html>